

.footer {
  background-color:var(--main-color); 
  color: #fff; 
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  padding: 1rem 0;
}

.title {
  font-size: 1.8rem;
  font-weight: bold;
}

.footer-item {
  cursor: pointer;
  transition: color 0.3s ease;
}

.footer-item:hover {
  color: #00aaff; /* لون افتراضي عند المرور */
}

.facebook:hover {
  color: #3b5998;
}

.instagram:hover {
  color: #e4405f;
}

.twitter:hover {
  color: #1da1f2;
}

.whatsapp:hover {
  color: #25d366;
}
